<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria</title>
</head>
<body bgcolor="#FFFAC9">
    <center>
        <h1>CATEGORIA</h1>
    </center>
    <center>
        <table border="1">
            <tr>
                <td>Full Racing</td>
                <td>Scooter</td>
                <td>Enduro</td>
                <td>Ciudad</td>
            </tr>
            <tr>
                <td><img src="./imagenes/fullracing.jpg" width="250" height="250"></td>
                <td><img src="./imagenes/scooter.jpg" width="250" height="250"></td>
                <td><img src="./imagenes/enduro1.jpg" width="250" height="250"></td>
                <td><img src="./imagenes/Urbana.jpg" width="250" height="250"></td>
            </tr>
            <tr>
                <td><a href="https://motos.honda.cl/modelos/cbr300r/">Link</a></td>
                <td><a href="https://motos.honda.cl/modelos/elite-fi/">Link</a></td>
                <td><a href="https://motos.honda.cl/modelos/crf110f/">Link</a></td>
                <td><a href="https://motos.honda.cl/modelos/nc750x/">Link</a></td>
            </tr>
        </table>
    </center>
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LxuUChmb6TY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    
    <center>
        <a>Telefono de contacto: 997110504</a>
        <br>
        <a>Direccion: Vicuña maquena 7000, macul</a>
        <br>
        <a>HORARIO DE ATENCION</a>
    </center>
    <center>
        <table border="1">
            <tr>
                <td>Lunes</td>
                <td>10:00-18:00</td>
            </tr>       
            <tr>
                <td>Martes</td>
                <td>10:00-18:00</td>
            </tr>     
            <tr>
                <td>Miercoles</td>
                <td>10:00-18:00</td>
            </tr>
            <tr>
                <td>Jueves</td>
                <td>10:00-18:00</td>
            </tr>
            <tr>
                <td>Viernes</td>
                <td>10:00-14:00</td>
            </tr>
        </table>
    </center>
    <br>
    <a href="./index.html">Volver</a>
</body>
</html>