<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
</head>
<body>
    <h2>Ingreso de motocicletas</h2>
    <form action="/ingreso_moto/" method="GET">
        <table>
            <tr>
                <td>Nombre Motocicleta</td>
                <td><input type="text" name="txt_nombre_moto"></td>
            </tr>
            <tr>
                <td>Modelo Motocicleta</td>
                <td><input type="text" name="txt_modelo_moto"></td>
            </tr>
            <tr>
                <td>Velocidad Motocicleta</td>
                <td><input type="text" name="txt_velocidad_moto"></td>
            </tr>
            <tr>
                <td>Cambios Motocicleta</td>
                <td><input type="text" name="txt_cambio_moto"></td>
            </tr>
            <tr>
                <td>Precio Motocicleta</td>
                <td><input type="text" name="txt_precio"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Guardar Motocicleta"></td>
                <td></td>
            </tr>
        </table>
    </form>
    <br>
    <a href="./index.html">Volver</a>
</body>
</html>