<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos</title>
</head>
<body bgcolor="#FFFAC9">
    <center>
        <h1>QUIENES SOMOS</h1>
    </center>
    <center>
        <h1>Mision</h1>
            <p>Somos una empresa líder en prestación de servicios técnico especializado. Ofreciendo repuestos, mantenimiento y reparación de motocicletas.
            Contamos con un talento humano altamente calificado y herramientas de vanguardia cubriendo así las necesidades de nuestros clientes nacionales.
            Orientados a mejorar la calidad de vida de motociclistas y sus familias garantizando el perfecto  funcionamiento de sus motocicletas, con seguridad, ética y calidez humana.</p>
        <br>
    </center>
    
    <center>
        <h1>Vision</h1>
        <p>En el 2020 seremos el taller con el mayor reconocimiento a nivel nacional, garantizando   un servicio de alta calidad, contribuyendo al continuo crecimiento y rentabilidad  para el beneficio de clientes y comunidad.</p>
        <br> 
    </center>

    <center>
        <table border="1">
            <tr>
                <td>
                    <img src="./imagenes/empleado1.jpg" width="350" height="350">
                    <br>
                    <a>Juan Pantoja</a>
                    <br>
                    <a>Vendedor</a>
                    <br>
                </td>
                <td>
                    <img src="./imagenes/empleado2.jpg" width="350" height="350">
                    <br>
                    <a>Jose Nuñez</a>
                    <br>
                    <a>Vendedor</a>
                    <br>
                </td>
            </tr>    
            <tr>
                <td>
                    <img src="./imagenes/empleado3.jpg" width="350" height="350">
                    <br>
                    <a>Migel Sanhueza</a>
                    <br>
                    <a>Vendedor</a>
                    <br>
                </td>
                <td>
                    <img src="./imagenes/empleado4.jpeg" width="350" height="350">
                    <br>
                    <a>Maximialiano Albornos</a>
                    <br>
                    <a>Gerente General</a>
                    <br>
                </td>
            </tr>
        </table>
    </center>
    <br><br><br>
    <center>
        <a>Telefono de contacto: 997110504</a>
        <br>
        <a>Direccion: Vicuña maquena 7000, macul</a>
        <br>
        <a>HORARIO DE ATENCION</a>
    </center>
    <center>
        <table border="1">
            <tr>
                <td>Lunes</td>
                <td>10:00-18:00</td>
            </tr>       
            <tr>
                <td>Martes</td>
                <td>10:00-18:00</td>
            </tr>     
            <tr>
                <td>Miercoles</td>
                <td>10:00-18:00</td>
            </tr>
            <tr>
                <td>Jueves</td>
                <td>10:00-18:00</td>
            </tr>
            <tr>
                <td>Viernes</td>
                <td>10:00-14:00</td>
            </tr>
        </table>
    </center>
    <br>
    <a href="./index.html">Volver</a>
</body>
</html>